server:
  port: 8084
spring:
  application:
    name: mock-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ai_dost
    username: postgres
    password: ubuntu
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}
