server:
  port: 8083
spring:
  application:
    name: dsa-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ai_dost
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
